.products_page {
    display: flex;
    flex-direction: column;
    padding-inline: 6%;
}

.products_filters {
    display: flex;
    justify-content: space-between;

    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.products_filters_section1 {

    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 1.2rem;

}

.product_count {
    font-weight: 700;
}

.showfilter {
    font-weight: lighter;
    color: #888792;

    text-decoration: underline;
    text-transform: uppercase;

}

.dropdown {
    border: none;
    padding: 0;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    color:#252020;
}

.product_cards{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height:100%;
    width: 100%;
    
}

.filterPage{
    width: 40%;
   
    
}

.checkbox{
    width: 5%;
    
}

.filterFields{
display: flex;
flex-direction: column;
justify-content: center;
}

.filterCategory{
    display: flex;

justify-content: start;
gap: 2%;
margin: 4%;
}

.products{
    display: flex;
    width: 100%;
    

}

